#ignorar las carpetas
aplicacion-ipo.csproj
aplicacion-ipo.csproj.user
.vs/
.vs/aplicacion-ipo/v16/*.suo
bin/
obj/*
packages/
packages.config
Resources/
Properties/
#ignorar fichero
guardado.mdb
./app.config
*.suo
aplicacion-ipo.sln
aplicacion-ipo.csproj
aplicacion-ipo.csproj.user
app.config