#ignorar las carpetas
aplicacion-ipo.csproj
aplicacion-ipo.csproj.user
.vs/
.vs/aplicacion-ipo/v16/*.suo
bin/
obj/*
Resources/
Properties/
#ignorar fichero
guardado.mdb
./app.config
*.suo
packages/
packages.config
aplicacion-ipo.sln
ClaveAPI.cs