#ignorar las carpetas
aplicacion-ipo.csproj
aplicacion-ipo.csproj.user
.vs/
.vs/aplicacion-ipo/v16/*.suo
bin/
obj/
packages/
packages.config
Resources/
Properties/
#ignorar fichero
guardado.mdb
./app.config
*.suo
aplicacion-ipo.sln
app.config
packages/
packages.config
aplicacion-ipo.sln
ClaveAPI.cs
MigrationBackup/
SpotifyAPI.Web.dll
idiomas/original.resx
packages.config
ban/
/changelog 1.6.txt
/Microsoft.WindowsAPICodePack.Shell.dll
/Microsoft.WindowsAPICodePack.dll
